{margin:0;
    padding:0;}
    .cabeçalho{
    background-color: black
    color:black; display flex;
    justify-content:space-around;
    align-items:center; padding: 10px 0 ;
    font-size: 40px;}
    .cabeçalho-lista-item{display: inline-block;
    margin; 0 20px; font- size:30px;}
    .apresentaçao-1{front: size 30px;
        color:black(53, 26, 207)blckground-color:black
        display: flex; justify-content:space-around;}
    
      .apresentaçao-2{background-color: black;
         front-size: 30px;}
     .imagem-{https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.residentevil.com%2Fre4%2Fpt-br%2F&psig=AOvVaw0pWYbJHA2cAUlxkRde8y-2&ust=1715079540539000&sou
    
        rce=images&cd=vfe&opi=89978449&ved=0CAQQjB1qFwoTCKDe8qfv-IUDFQAAAAAdAAAAABAE{
        widht:20% ;}
        . lista-item{
            background-color:black;
            font: size 40px;color: #000;(53,26,207)
            display:fles; padding:15px 0;}
            .imagem {width:5%;height5%}
          